.profile-picture {
  border-radius: 0.5%;
display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

table, th, td {
  border: 1px solid black;
}

h1 {
  Text-align: center;
  font-size: 1em;
  color: #009;
  margin-bottom: .3em;
}

h4 {
  text-align: center;
  font-size: 1em;
color: #009;
  margin-bottom: .3em;
}

table {
  margin: .3em;
text-align: center;
margin-left: auto;
  margin-right: auto;

}

td {
  padding-left: .5em;
  padding-right: .5em;
  border: 1px solid #900;

}

p {text-align: center;
 color: #900;
}

h5 {
  color: #900;

}